@model Enum
@foreach (var value in Enum.GetValues(typeof(MySevenSocialMedia.Models.Domain.PriorityEnum)))
{

    <div class="form-check form-check-inline">
        @Html.RadioButtonFor(m => m,value)
        @Html.Label(value.ToString())
    </div>
}