@{
    ViewData["Title"] = "Home Page";
}
<div class="bg-secondary bg-opacity-10 m-5 py-2">
    <div class="container">

        <h1 class="text-sm-center">M y - S e v e n</h1>
    </div>
</div>

<div class="container bg-secondary bg-opacity-10 ">
    <div class="rowHome">
        <div class="columnHome">
            <button type="button" class="btn btn-outline-warning btn-lg">S</button>
        </div>
        <div class="columnHome">
            <button type="button" class="btn btn-outline-warning btn-lg">M</button>
        </div>
        <div class="columnHome">
            <button type="button" class="btn btn-outline-warning btn-lg">T</button>
        </div>
        <div class="columnHome">
            <button type="button" class="btn btn-outline-warning btn-lg">W</button>
        </div>
        <div class="columnHome">
            <button type="button" class="btn btn-outline-warning btn-lg">T</button>
        </div>
        <div class="columnHome">
            <button type="button" class="btn btn-outline-warning btn-lg">F</button>
        </div>
        <div class="columnHome">
            <button type="button" class="btn btn-outline-warning btn-lg">S</button>

        </div>
    </div>
</div>
